-e git+https://github.com/joelgreen/pgoapi.git/@fa49ada8570b0817c5a73b9315ba010fa7a47874#egg=pgoapi
geopy==1.11.0
enum34==1.1.6
gpxpy==1.1.1
requests==2.11.0
pyOpenSSL==16.0.0
ndg-httpsclient==0.4.2
pyasn1==0.1.9
peewee==2.8.3
